Bsinfo/hojas/
bk_Foxcode/
bsinfo1/
bsinfo2/
bsinfo3/
bsinfo4/
classgen3/
classgen4/
consorcio/
consorcio2/
Framework/
KB/
Modelo/
Thor/
TierAdapter/
TierAdapter2/
Tools/
wwClient/
*.log
*.fxp
*.err
*.bak
*.bat