Bsinfo/hojas/
bk_Foxcode/
Bsinfo/*.dbf
Bsinfo/*.cdx
Bsinfo/*.fpt
Bsinfo/Progs/Dbcevents/
Bsinfo/Progs/BK_Migracion/
Bsinfo/progs2/Dbcevents/
Bsinfo/progs2/ADHESIVO/
Bsinfo/progs2/Amaro/
Bsinfo/progs2/dev/
Bsinfo/progs2/Diariog/
bsinfo1/
bsinfo2/
bsinfo3/
bsinfo4/
classgen3/
classgen4/
consorcio/
consorcio2/
Framework/
KB/
Modelo/
Thor/
TierAdapter/
TierAdapter2/
Tools/
wwClient/
*.log
*.fxp
*.err
*.bak
*.bat
_*.DBF
_*.CDX
_*.FPT
*.rar
Thumbs.db
ehthumbs.db
