Bsinfo/hojas/
bk_Foxcode/
Bsinfo/X*.dbf
Bsinfo/X*.cdx
bsinfo1/
bsinfo2/
bsinfo3/
bsinfo4/
classgen3/
classgen4/
consorcio/
consorcio2/
Framework/
KB/
Modelo/
Thor/
TierAdapter/
TierAdapter2/
Tools/
wwClient/
*.log
*.fxp
*.err
*.bak
*.bat
_*.DBF
_*.CDX
_*.FPT
Thumbs.db
ehthumbs.db
